h1 {
    color: crimson;
}

a:link {
    text-decoration: none;
     color:  white;
}

a:visited {
    color: white;
}

body {
    display: grid;
    grid-template-rows: min-content min-content auto min-content;
    grid-template-areas: 
    "navitgation"
    "header"
    "content"
    "footer";
    min-height: 100vh;
}

/* move nav bar*/
#navigation  {
    position: sticky;
    background-color: rgba(17, 14, 14, 0.959);
    font-family: 'Russo One', sans-serif;
    transition: .5s;
    top: 0%;
    left: 0%;
    box-sizing: border-box;
}

/* to move the letters and social logos*/
#navigation > ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;

}

#navigation ul li {
float: right;
}

#navigation ul li a {
    display: block;
    padding: 8px;
}

#navigation ul li div li a{
    float: right;
}

#navigation ul li a:hover {
    display: block;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

#navigation ul li {
    border-right: #C9012F; 
}


#homelogo a {
    width: 120px;
    position: fixed;
}

#header {
    font-family: 'Noto Serif', serif;
    padding: 0px;
    background-color: #ffffff;
    width: 100%;
    top: 0%;
}

/* To Move Logo */
#header img {
    width: 100%;
    margin: 7%;
    padding: 10px;
}
/*move the paragraphs*/
#content {
    background-color: #5c5c5c;
    margin: 0 auto;
    width: 30%;
    padding: 15% 15% 15% 15%;
}


#footer {
    background-color: #0843e6;
    font-family: 'Russo One', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* WHERE IT STARTS/
body {
  margin: 0;
}

/* Style the header */
.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 15px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}