h1 {
    color: crimson;
}

#navigation {
    background-color: crimson;
}

#header {
    background-color: crimson;
}

#content {
    background-color: crimson;
}

#footer {
    background-color: crimson
}